 body{
   margin: 0;
 }
 .wrongcredentials{
   text-align: center;
   border: none;
   font-weight: bold;
   padding: 10px;
   text-align: center;
   border-radius: 10px;
 }
 .wrongcredentials p{ 
   background-color: #ff9966;
   border: 2px solid red;
   border-radius: 20px;
   padding: 10px;
   margin: 1px;
 }
 .connected p{ 
   background-color: #99ff99;
   border: 2px solid green;
   border-radius: 20px;
   padding: 10px;
   margin: 3px;
 }
 .loginform{
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   padding: 10px;
 }
 .loginform form{
   border: 2px solid red;
   border-radius: 10px;
   padding: 10px;
 }
 .loginhead{
   padding: 10px;
   text-align: center;
   background-color: yellow;
   border: 2px solid yellow;
   border-radius: 10px;
 }
 .loginform table{
   margin: 10px;
   padding: 10px; 
 }
 .loginform td{
   text-align: center;
   padding: 10px;
 }
 .loginform input, select, option{
   width: 100%;
   padding: 10px;
   border: none;
   border-bottom: 1px solid black;
   border-radius: 3px;
 }
 #loginbutton{
   font-weight: bold;
   background-color: yellow;
   border: 2px solid yellow;
   cursor: pointer;
   border-radius: 20px;
 }
 #loginbutton:hover{
   border: 2px solid #ff9966;
   background-color: #ff9966;
 }
 .loginform a{
   text-decoration: none;
   color: red;
 }
